@import "../../styles/variables.scss";

#notif {
  background: $primary-bg;
  padding-top: 1em;
  padding-bottom: 1em;
  
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow:hidden;

  #notif-content {
    padding-left:1em;
    padding-right:1em;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: auto;
    div {
      display: block;
      flex: 7;
      // min-width:200px;
    }
    button {
      flex: 1;
      padding:1em 1em;
    }
  }
}

@keyframes slideup {
  0% {
    opacity: 1;
    max-height:5em;
    padding-top: 1em;
  }
  100% {
    opacity: 0;
    max-height:0em;
    padding-top:0;

  }


}

.slideup {
  animation: slideup .3s ease-out;
  animation-fill-mode: forwards;

}
