@import "../../styles/variables.scss";
#highlights {
  padding: 3em 2em;
  padding-bottom:4em;
  background: $primary-bg;
  color: $primary-text-color;
  #highlights-intro {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 2.5em;
    h1 {
      margin-bottom: 0.5em;
    }
  }
  #highlights-list {
    display: grid;
    grid-gap: 1.85em;
    

    .highlight-item {
      display: flex;
      flex-direction: column;
      // background: pink;
      border: 1px solid #ACACAC;
      box-shadow:inset 0px 1px 2px white,0px 1px 2px white;
      background:transparent;
      padding: 1.5em;
      .highlight-head {
        display: flex;
        font-size: 1.5rem;
        margin-bottom:.5em;
        
        .icon {
          margin-left: auto;
          color:lighten(#ACACAC,10%);
        }
      }
    }
  }
}

@media(min-width:960px) {
  #highlights-list {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width:960px) {
  #highlights-list {
    grid-template-columns: auto auto;
  }
}

@media (max-width:480px) {
  #highlights-list {
    grid-template-columns: auto;
  }
}