@import "../../styles/variables.scss";
#hero {
  // background: pink;
  // height: 30em;
  display: flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  // flex-direction: column;
  // background: url("../../assets/hero.jpg");
  background-size: cover;
  // filter: invert(22%) sepia(75%) saturate(3821%) hue-rotate(185deg) brightness(99%) contrast(99%);
  &::after {
    /* for bg filter cover */
    position: absolute;
    left: 0;
    top: 0;
    // background-color:rgb(3, 54, 102);
    background: url("../../assets/hero.jpg");
    filter: invert(17%) sepia(55%) saturate(627%) hue-rotate(155deg) brightness(45%) contrast(100%);
    background-size: cover;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 0;
  }

  #hero-main {
    display: flex;
    flex-direction: column;
    // margin-top: 6em;
    margin-bottom: 9em;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    
    transition: all 0.3s ease-in-out;
    // margin:auto;
    #hero-logo {
      z-index: 10;
      align-self: flex-start;
      padding-left: 1.5em;
    }
    #hero-content {
      display: flex;
      flex-direction: column;
      z-index: 10;
      color: white;
      text-align: center;
      margin-top:3em;
      // margin-top:12em;
      // margin-bottom:8em;

      padding: 0 0.5em;
      h1 {
        margin-bottom: 0.25em;
      }
      h3 {
        margin-bottom: 0.5em;
      }
      p {
        margin-bottom: 0.5em;
      }
      button {
        margin-top: 1em;
        // width:8em;
        align-self: center;
        background: transparent;
        padding: 1em 1.75em;
        border: 2px solid white;
        color: white;
        border-radius: 5px;
        transition: all 0.1s ease-in-out;
        font-size: 0.85rem;
        &:hover {
          background-color: white;
          color: $secondary-bg;
        }
      }
    }
  }
}

#logo {
  // position: absolute;
  // top: 6em;
  // left: 1em;
  width: 50px;
  height: 50px;
  z-index: 1;
}
a {
  text-decoration: none;
}

@media (min-width:960px) {
  #hero-main {
    margin-top: 6em;
  }
}

@media (max-width:768px) {
  #hero-main {
    margin-top:8em;
  }
}

@media (max-width:576px) {
  #hero-main {
    margin-top:8em;
  }
}
@media (max-width:420px) {
  #hero-main {
    margin-top:10em;
  }
}