@import "../../styles/variables.scss";

@keyframes anim1 {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#newsletter {
  // width: 35em;
  // background-color: pink;
  animation: anim1 .5s ease-in-out;
  padding: 1em 1.5em 1.75em 1.5em;
  position: fixed;
  bottom: 0;
  max-width:640px;
  left: 0;
  // opacity: 0.85;
  color: white;
  // positioin:relative;
  z-index:10;
  &::after {
    /* for bg filter cover */
    position: absolute;
    left: 0;
    top: 0;
    // background-color:rgb(3, 54, 102);
    background: $secondary-bg;
    opacity:.85;
    // filter: invert(17%) sepia(55%) saturate(627%) hue-rotate(155deg) brightness(45%) contrast(100%);
    background-size: cover;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 0;
  }
  #newsletter-head {
    display: flex;
    position: relative;
    z-index:10;
    justify-content: flex-end;
    button {
      border: none;
      background: none;
      color: white;
      font-weight: bold;
      font-size: 0.85rem;
    }
    z-index:100;
  }
  #newsletter-content {
    opacity: 1;
    z-index:10;
    position: relative;
    margin-bottom: 1em;
    h2 {
      margin-bottom: 0.5em;
    }
  }
  form {
    opacity: 1;
    position:relative;
    z-index:10;
    display: flex;
    input {
      flex: 7;
      border: none;
      font-size: 1rem;
      padding: 0.5em;
      margin-right: 1em;
    }
    button {
      flex: 2;
      background: $third-bg;
      border: none;
      color: white;
      border-radius: 2px;
      font-weight: bold;
    }
  }
}
