@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans',sans-serif;
}

html,
body {
  width: 100%;
}
#app {
  position:relative;
}

.secondary-btn {
  background: $secondary-bg;
  color: white;
  padding: 1em 0.25em;
  border-radius: 5px;
  border: none;
  transition: all .3s ease-in-out;
  cursor:pointer;
  &:hover {
    background: lighten($secondary-bg, 5%)
  }
}
button {
  cursor:pointer;
}

